@font-face {
  font-family: "DM";
  src: url("../fonts/DMSans-Bold.ttf");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "DM";
  src: url("../fonts/DMSans-Medium.ttf");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "DM";
  src: url("../fonts/DMSans-Regular.ttf");
  font-weight: normal;
  font-style: normal;
}
