.loginsignin-screens-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  height: 100vh;
}

.loginsignin-form {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 2rem 4rem;
}

.loginsigin-hero-image {
  width: 100%;
  max-height: 1fr;
}

.hero-image {
  height: 100%;
  width: auto;
}
